@*removed "privacy" page, created an "about" page*@
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>This App was created using the Spoonacular API.</p>
<p>Search recipes by cuisine, ingredient, or keyword.</p>

<ul> 
    <li>Result of search</li>
    <li>Link to detailed instructions to make selected recipe</li>
    <li>Cooking Time and Prep Time</li>    
</ul>

<ul>
    <li><em><strong>Future updates:</strong></em></li>
    <li>Date Night at Home</li>
    <li>Meal Planning</li>
    <li>Kid-Friendly</li>
    <li>Search Filtering</li>

</ul>
<style>
    body {
        background-color:darkgrey;

    }
</style>