@{
    ViewData["Title"] = "Home Page";
}
@*stock kitchen image for background of page*@
<div class="text-center">
    <p class="display-4">Let's get cooking, shall we?</p>
</div>

<style>
body {
    background-image: url(/lib/image/pexels-photo-1435895.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
</style>